.task-navbar-color {
  background-color: #7933ff !important;
}
.avatar {
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.avatar .avatar-img {
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 2rem;
  width: auto;
}
.avatar-xl {
  height: 3rem;
  width: 3rem;
}
.avatar-xl .avatar-img {
  height: 3rem;
}
.bg-gray-200 {
  background-color: #e0e5ec !important;
}
.line-height-normal {
  line-height: normal !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}
.justify-content-between {
  justify-content: space-between !important;
}
.truncate {
  width: 190px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.checkBoxContainer {
  width: auto;
}
.checkBox {
  width: 30px;
  height: 30px;
}
